<label for="advancedSearch">Advanced Search</label>
<input id="advancedSearch" [(ngModel)]="advancedSearch" type="checkbox">
<div *ngIf="advancedSearch">
  <ss-multiselect-dropdown [options]="fields" [(ngModel)]="selectedOptions" (ngModelChange)="onOptionsChange($event)"></ss-multiselect-dropdown>
  <cc-search-field [fieldId]="12" [field]="'12'"></cc-search-field>
</div>
<div *ngIf="!advancedSearch">
  <label for="searchText">Simple Search</label><br/>
  <input id="searchText" [(ngModel)]="searchText" type="text" /><br/>
  <button (click)="search(searchText)">search</button>
</div>
<div *ngIf="searchResults">
  <div *ngFor="let result of searchResults">{{result.firstName}}</div>
</div>
