<div [ngSwitch]="fieldTypes[fieldId]['type']">
  <div *ngSwitchCase="'date'">
    <label for="from">From:</label>
    <input type="text" id="from" [(ngModel)]="field['from']">
    <label for="to">To:</label>
    <input type="text" id="to" [(ngModel)]="field['to']">
  </div>
  <div *ngSwitchCase="'sex'">Sex:
    <label class="radio-inline"><input type="radio" name="Male" [(ngModel)]="field" value="Male">Male</label>
    <label class="radio-inline"><input type="radio" name="Female"[(ngModel)]="field" value="Female">Female</label>
  </div>
  <div *ngSwitchDefault>
    <label for="field">{{fieldTypes[fieldId]['name']}}</label>
    <input type="text" id="field" [(ngModel)]="field">
    {{field}}
  </div>
</div>
