<div class="col-sm-8">
  <div class="row">
    <errors-list [(errors)]="errorMessages"></errors-list>
    <h3>Edit news</h3>
    <form #formCtrl="ngForm" role="form" class="form-horizontal">
      <div class="input-group">
        <span class="input-group-addon" for="title">Title</span>
        <input id="title"
          name="title"
          class="form-control"
          [(ngModel)]="itemTitle"
          required />
      </div>
     </form>
        <ckeditor [(ngModel)]="itemText"
        [config]="{uiColor: '#99000'}"
        [readonly]="false"
        debounce="500"></ckeditor><br/>
      <button (click)="updateNews()" [disabled]="!formCtrl.form.valid" class="btn btn-primary">Edit News Item</button>
  </div>
</div>

