/* Remove the navbar's default margin-bottom and rounded borders */
.list-group-item {
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
