<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div *ngFor="let errorMessage of errorMessages" class="alert alert-danger">
        {{errorMessage}}
      </div>
      <div *ngIf="!userIsLoggedIn(); else loggedIn" class="panel panel-default text-center">
        <button (click)="login()" class="btn btn-primary">Log In with CAC</button>
        <div *ngIf="debugMode">
          <label for="impersonate">Impersonate</label>
          <input id="impersonate" [(ngModel)]="impersonateMode" type="checkbox" />
          <label for="impersonateID">Impersonate ID</label>
          <input id="impersonateID" type="text" [(ngModel)]="impersonateID" />
        </div>
      </div>
      <ng-template #loggedIn>
        <h3>You are logged in.</h3>
        <button (click)="logout()" class="btn btn-primary">Log Out</button>
      </ng-template>
    </div>
  </div>
</div>
